<html>
    <head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	{% if refresh_url %}
	<META HTTP-EQUIV="Refresh" CONTENT="{{delay}}; URL={{refresh_url}}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="http://www.purple.com/index.css">
	{% if javascript_file %}
	<script type="text/javascript" src="{{ javascript_file }}" async></script>
	{% endif %}
	{% if javascript_inline %}
	<script type="text/javascript">
	 {{ javascript_inline }}
	</script>
	{% endif %}
	<title>{{title}}</title>
	<script type="text/javascript">
	 
	 var _gaq = _gaq || [];
	 _gaq.push(['_setAccount', 'UA-27318022-1']);
	 _gaq.push(['_setDomainName', 'purple.com']);
	 _gaq.push(['_trackPageview']);
	 
	 (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	 })();
	 
	</script>
	{% if css_text %}
	<style>
	    {{ css_text }}
	</style>
	{% endif %}
    </head>
    <body>
	{{body}}
    </body>
</html>
