body {
    font-family: monospace, prestige;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 150%;
}

h1 {
    font-size: 120%;
    margin-bottom: 40px;
}

h2 {
    font-size: 100%;
}

p {
    margin-left: 20px;
}

a{
    color:#444444;
    text-decoration: none;
}

a:link { color:#444488; }
a:visited { color:#444488; }
a:hover { color:#4444ff; }
a:active { color:#4444ff; }

li{
    list-style-type: none;
}

